

.learningSection {
    height: 100vh;
    width: 100%;
    padding: 5%;
    display: flex;
    flex-direction: column;
}

.heading {
    font-size: 5vh;
    margin-bottom: 2%;
}
.container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    justify-items: center;
    padding: 5%;
    background-color: var(--color-bg);
    border-radius: 20px;
    height: fit-content;
}
#item {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 15vh;
    height: 15vh;
    border-radius: 20px;
    margin: 10px;
}
#item:hover {
    border: 2px solid var(--color-blue);
}