@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300..700&display=swap');
:root {
    --color-bg: #121212;
    --color-darker-cyan: rgb(0, 61, 61);
    --color-blue: #00aaff;
    --color-white: #fff;
    --color-white-variant: #e7e7e7;
    --color-dark: #0c0c0c;
}

body {
    background-color: var(--color-dark);
    color: var(--color-white);
    width: 100%;
}
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: "Space Grotesk", sans-serif;
}

